.media {
    color: #2C3E50;
    background: #bdc3c7;
}

.vertical-nav {    
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #2C3E50;
    transition: all 0.4s;
}

a {
    text-decoration: none;
    padding-left: 1em;
}

.vertical-nav ul li:hover, .activeLi {
    background: #bdc3c7;
}

.page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
    margin-left: -17rem;
}

#content.active {
    width: 100%;
    margin: 0;
}

.container_custom {
    padding: 2em 0;
}

.nopadding {
    padding: 0;
}

@media (max-width: 1000px) {
    #sidebar {
        margin-left: -17rem;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
        margin: 0;
    }
    #content.active {
        margin-left: 17rem;
        width: calc(100% - 17rem);
    }
}
  