.hidden {
  display: none;
}

.modal-header, .modal-footer {
  background: #ecf0f1;
}

.fc-daygrid-day-number {
  text-decoration: none;
  color: #34495e;
}

.fc-col-header-cell-cushion {
  text-decoration: none;
  color: white;
}

.fc-daygrid-event {
  background: #2980b9;
  color: white;
  padding-left: 0.25em;
}

.fc-daygrid-event:hover,
.fc-daygrid-event:hover .fc-event-time {
  background: #2C3E50;
  color: white;
}

.fc-daygrid-event-dot {
  display: none;
}

.fc-col-header-cell  {
  background: #2C3E50;
}

.fc-event-time {
  background: #3498db;
  padding: 0 0.15em
}

.fc-toolbar-title {
  background: #2C3E50;
  color: white;
  padding: 0.15em 0.75em;
  border-radius: 2%;
}

.fc-daygrid-day-frame {
  background: white;
}

.fc-day-today {
  font-weight: bold;
} 
